@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url(./css/animate.min.css);
@import url(./css/bootstrap.min.css);
@import url(./css/default.css);
@import url(./css/dripicons.css);
@import url(./css/fontawesome-all.min.css);
@import url(./css/magnific-popup.css);
@import url(./css/meanmenu.css);
@import url(./css/responsive.css);
@import url(./css/slick.css);
@import url(./css/style.css);
body {
  overflow: hidden;
  color: #ffc010 !important;
  background: #1a0e22 !important;

}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko', sans-serif !important;
}
.magic {
  z-index: 5;
  position: absolute;
  top: calc(50% - 160px);
  left: calc(50% - 160px);
  width: 360px;
  height: 360px;
  background: url("/images/12.jpeg") 50% 50% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}

.scene {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.scene .content {
  width: 52%;
  z-index: 9999;
  text-transform: capitalize;
}
.text-bold {
  font-size: 21px;
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 16px;
  letter-spacing: 4px;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1300px !important;
  }
}
@media (max-width : 768px) {
    .scene .content {
        width: 100%;
      }
}
